<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <div th:each="book : ${books}">
        <div th:text="'ID: ' + ${book.id}"></div>
        <div th:text="'Title: ' + ${book.title}"></div>
        <div th:text="'Author: ' + ${book.author}"></div>
        <div th:text="${'Price: ' + book.price + ' zl'}"></div>
        <div th:text="${'Quantity: ' + book.quantity}"></div>
        <a th:if="${book.quantity > 0}" th:href="@{/cart/add/{bookId}/1(bookId=${book.id})}">Add to cart</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <div>
            <button type="submit">Logout</button>
        </div>
    </form>
    <form th:action="@{/order/all}" method="get">
        <button type="submit">Orders</button>
    </form>
</div>
</body>
</html>