<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:each="order : ${orders}">
        <div th:text="'ID: ' + ${order.id}"></div>
        <div th:text="'Status: ' + ${order.status}"></div>
        <div th:text="'Date: ' + ${order.date}"></div>
        <div th:each="item : ${order.items}">
            <div th:text="'Title: ' + ${item.book.title}"></div>
            <div th:text="'Author: ' + ${item.book.author}"></div>
            <div th:text="'Quantity: ' + ${item.quantity}"></div>
        </div>
    </div>
</div>
</body>
</html>
